<div> 
		<h5> <%= @artist.name %> </h5>
		<p> age:  <%= @artist.age %></p>
		<p> bio: <%= @artist.bio %></p>
		<%= link_to "Edit Artist", edit_artist_path(@artist)%>
		<%= button_to "delete", delete_artist_path(@artist),  :method => :delete %>
</div>
